body{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#45484d+0,000000+100;Black+3D+%231 */
    background: #111111; /* Old browsers */
    color:white;
    font-family: 'Roboto', sans-serif!important;
    font-size: 16px;
    font-weight: 300;
}

html,body{
    width:100%;
    height:100%;
    overflow-x:hidden;
    max-height: 100%;
}

#background {
    height: 100%;
    width: 150%;
    position: fixed;
    left: -5%;
}
#navbar{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cc0000+0,cc0000+100;Red+Flat */
    background: #cc0000; /* Old browsers */
    background: -moz-linear-gradient(top,  #cc0000 0%, #cc0000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cc0000), color-stop(100%,#cc0000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #cc0000 0%,#cc0000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #cc0000 0%,#cc0000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #cc0000 0%,#cc0000 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #cc0000 0%,#cc0000 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc0000', endColorstr='#cc0000',GradientType=0 ); /* IE6-9 */
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    border-bottom: 1px white solid;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 999;
}

#navbar,#navbar.navbar{
    height: 80px;
}

#navbar .navbar-brand{
    height:100%;
}

#background .poster{
    width: 200px;
    height: 295px;
    margin: 0px;
    vertical-align: top;
    padding: 0px;
    float: left;
    position: relative;
    text-align: center;
}

#background .poster img{
    opacity: 0;   
    width: 100%;
}


#background .poster .spinner{
    position: absolute;
    top: 93px;
    left: 77px;
    width: 50px;
}



#spinner,.spinner{
    background: url(http://bandicot.com/public/assets/images/loaders/site-spinner.png) 50% 50%/100% no-repeat;
    width: 6.942em;
    height: 6.942em;
    -animation: spin 1.10s infinite linear;
    -ms-animation: spin 1.10s infinite linear;
    -webkit-animation: spinw 1.10s infinite linear;
    -moz-animation: spinm 1.10s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

@-webkit-keyframes spinw {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@-moz-keyframes spinm {
    from { -moz-transform: rotate(0deg);}
    to { -moz-transform: rotate(360deg);}
}

#overligth{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,969696+100 */
    background: #000000; /* Old browsers */
    background: -moz-linear-gradient(left,  #000000 0%, #969696 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#000000), color-stop(100%,#969696)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #000000 0%,#969696 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #000000 0%,#969696 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #000000 0%,#969696 100%); /* IE10+ */
    background: linear-gradient(to right,  #000000 0%,#969696 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#969696',GradientType=1 ); /* IE6-9 */
    position: fixed;
    top: 80px;
    width: 100%;
    height: 100%;
    opacity: 0.8;
}
#content-main{
    position: absolute;
    top: 80px;
    width: 100%;
    height: 100%;
}

#content-form{
    background-color: white;
    color: black;
    padding: 10px;
    top: 23px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 30px;
}

.g-recaptcha {
    display: inline-block;
    margin-top: 10px;
}

.tooltip-error .tooltip-inner{
    background: red;
    font-size: 12pt;
}

.tooltip-error.bottom .tooltip-arrow{
    border-bottom-color: red!important;
}

.tooltip-error.left .tooltip-arrow{
    border-left-color: red!important;
}

.tooltip.left.tooltip-error{
    margin-left: -2px;
}

.tooltip.bottom.tooltip-error{
    margin-top: 1px;
}

a#btn-login-f {
    margin-right: 11.7%;
    margin-top: 23px;
}

#body-login{
    background: url(../../images/backgrounds/background-login.jpg);
    background-size: cover;
}


.colorgraph {
    height: 5px;
    border-top: 0;
    background: #c4e17f;
    border-radius: 5px;
    background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

#body-login #head-login{
    background-image: url(../../images/logo.png);
    width: 100%;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 350px;
    background-color: red;
    margin: auto;
    border: 1px black inset;
    border-top: 0px;
}

#body-login .btn-info:active, #body-login .btn-info.active{
    background-color: red;
    border-color: #000000;
}



#body-login .col-xs-12.col-sm-8.col-md-6.col-sm-offset-2.col-md-offset-3 {
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#logo-mobile{
    display:none;
}

#logo{
    width:250px;
    height:51px;
}

a#btn-mobile-login {
    position: fixed;
    right: 25px;
    font-size: 25pt;
    color: white;
    top: 10px;
    display: none;
}

#btn-create-account:after{
    content: "Crear una cuenta";
}

#msg-forbidden{
    background: rgba(0, 0, 0, 0.85);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 1px #6B6B6B solid;

}

#msg-forbidden ul li{
    list-style: none;
}


#msg-forbidden ul li:before{
    font-family: 'Glyphicons Halflings';
    content: "\e013";
    color: green;
}

#msg-forbidden ul li div{
    display: inline-block;
    width: 90%;
    vertical-align: top;
    margin-left: 1%;
}

div#logo-msg-forbidden {
    width: 100%;
    background: rgba(255, 0, 0, 0.8);
    margin-bottom: 30px;
}

#logo-msg-forbidden img {
    width: 100%;
    max-width: 500px;
}

#msg-forbidden{
    color:white;
}

#msg-forbidden .caption{
    font-size: 14pt;
    border: 1px white solid;
    padding: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: rgba(208, 0, 0, 0.85);
    font-weight: 300;
}

#msg-forbidden #content-premium{
    border-left:1px white solid;
    padding-bottom: 20px;
}

#msg-forbidden #countdown li:before{
    content: none;
}

#msg-forbidden ul#countdown{
    text-align: center;
    padding: 0px;
}