
#info{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f6f6f6+47,ededed+100;White+3D+%231 */
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 0px;
    color:black;
    min-height: 460px;
    position: relative;
}


#chapters{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f6f6f6+47,ededed+100;White+3D+%231 */
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 0px;
    color:black;
    margin-top: 30px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}



#title-production,#chapters .title{
    padding: 10px;
    font-size: 23pt;
    font-weight: bold;
}

#rating-imdb{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eab92d+0,c79810+100;Yellow+3D+%232 */
    background: #eab92d; /* Old browsers */
    background: -moz-linear-gradient(top,  #eab92d 0%, #c79810 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eab92d), color-stop(100%,#c79810)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #eab92d 0%,#c79810 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #eab92d 0%,#c79810 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #eab92d 0%,#c79810 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #eab92d 0%,#c79810 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eab92d', endColorstr='#c79810',GradientType=0 ); /* IE6-9 */
    width: 80px;
    padding: 10px;
    font-size: 20pt;
    text-align: center;
    font-weight: bold;
    font-family: calibri;
    color: #FFFFFF;
    text-shadow: 1px 1px 3px #000;
    display: inline-block;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
}


#comming-soon{
    width: 190px;
    padding: 10px;
    font-size: 20pt;
    text-align: center;
    font-weight: bold;
    font-family: calibri;
    color: #FFFFFF;
    text-shadow: 1px 1px 3px #000;
    display: inline-block;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cc0000+0,cc0000+100;Red+Flat */
    background: #cc0000; /* Old browsers */
    background: -moz-linear-gradient(top,  #cc0000 0%, #cc0000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cc0000), color-stop(100%,#cc0000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #cc0000 0%,#cc0000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #cc0000 0%,#cc0000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #cc0000 0%,#cc0000 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #cc0000 0%,#cc0000 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc0000', endColorstr='#cc0000',GradientType=0 ); /* IE6-9 */

}

#tag-imdb{
    font-size: 12pt;
    color: #A17700;
    text-shadow: none;
}

#title-ori {
    font-size: 10pt;
    color: gray;
}

#image-content,#title-production,#chapters .title{
    padding-left:40px;
}

.attr,.value{
    padding: 0px;
}

.attr{
    font-weight: bold;
}

.value{

}

.staff{
    height: 48px;
    display: block;
    clear: both;
}

#staff-content{
    height: 260px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top:10px;
}


.avatar{
    float: left;
}

.avatar img {
    height: 45px;
}

.person{
    float: left;
    height: 48px;
    padding-left: 10px;
    padding-top: 14px;
}

a.ver-online{
    margin-top: 20px;
    display: inline-block;
    width: 100%;
    font-size: 20pt;
    padding: 10px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cc0000+0,cc0000+100;Red+Flat */
    background: #cc0000; /* Old browsers */
    background: -moz-linear-gradient(top,  #cc0000 0%, #cc0000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cc0000), color-stop(100%,#cc0000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #cc0000 0%,#cc0000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #cc0000 0%,#cc0000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #cc0000 0%,#cc0000 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #cc0000 0%,#cc0000 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc0000', endColorstr='#cc0000',GradientType=0 ); /* IE6-9 */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: white;
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.5);
    cursor: pointer;
    border: 1px #26328A inset;
    margin-bottom: 20px;
     text-decoration: none!important;
}

a.ver-online:hover{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff3019+0,cf0404+100;Red+3D */
    background: #ff3019; /* Old browsers */
    background: -moz-linear-gradient(top,  #ff3019 0%, #cf0404 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff3019), color-stop(100%,#cf0404)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ff3019 0%,#cf0404 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ff3019 0%,#cf0404 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ff3019 0%,#cf0404 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ff3019 0%,#cf0404 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 ); /* IE6-9 */
    text-decoration: none!important;
}

#ver-online-poster{
    display:none;
}

#title-play{
    padding: 10px;
    font-size: 23pt;
    font-weight: bold;
    color:white;
}

#chapters a.chapter{
    cursor: pointer;
    font-size: 13pt;
    border-left: 3px solid #FFF;
    border-bottom: 3px solid #FFF;
    border-radius: 10px;
    background: #ECECEC none repeat scroll 0% 0%;
    box-shadow: 0px 0px 2px 2px #B8B8B8;
    margin-bottom: 10px;
    padding-top: 10px;
}

#chapters a.chapter:hover{
    border-color: red;
    color:red;
}

#chapters a.chapter .glyphicon{
    font-size: 20pt;
}

#mask {
    background-color: black;
    padding: 0px;
    margin-bottom: 100px;
    border-top: 2px white solid;
    border-bottom: 2px white solid;
}

#video{
    opacity: 0;
}

#comments{
    padding: 0px;
    color:black;
    margin-top: 30px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    color: white;
}

#comments h2{
    padding:10px;
}

#comments .avatar{
    width: 60px;
    display: inline-block;
    position: absolute;
    right: 0px;
    background: white;
}

textarea#content-comment {
    height: 100px;
    margin-bottom: 10px;
}

#comments .comment{
    clear: both;
    display: inline-block;
    width: 100%;
    min-height: 100px;
}

div#list-comment {
    clear: both;
    display: inline-block;
    width: 100%;
}

#comments .comment .comment-content{
    background: white;
    color: black;
    padding: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    clear: both;
    text-align: left;
}

#comments .comment .col-xs-1.col-md-1 {
    min-height: 100px;
    text-align: right;
}

#comments .comment .name{

}

#rating{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f6f6f6+47,ededed+100;White+3D+%231 */
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 20px;
    padding-top: 5px;
    color:black;
    min-height: 60px;
    margin-top:20px;
    position: relative;
}

#rating .progress{
    border: 1px #CCCCCC solid;
    height: 25px;
}

#rating #content-bar{
    position: relative;
    padding-top:10px;
    padding-bottom:10px;
}

#rating #content-bar .line{
    border: 1px black solid;
    height: 35px;
    width: 1px;
    position: absolute;
    top: 10px;
}

#rating #content-bar .line img{
    width: 30px;
    top: 35px;
    position: relative;
    left: -15px;
    cursor: pointer;
}

img.inactive{
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
}

#open-modal-rating-new {
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 15pt;
}

#modal-rating .progress{
    width: 30px;
    height: 400px;
    position: relative;
}

#modal-rating .progress .progress-bar{
    width: 100%;
    height: 0%;
    position: absolute;
    bottom: 0px;
}

#content-bar-rating{
    position: relative;
    width: 300px;
    margin: auto;
    margin-top: 30px;
    left: 5%;
}

#content-bar-rating .line {
    position: absolute;
    border: 1px black solid;
    width: 43px;
    height: 1px;
    z-index: 9;
    left: 0px;
}


#content-bar-rating .line img{
    width: 40px;
    top: -15px;
    position: relative;
    left: 50px;
    cursor: pointer;
}

#content-bar-rating .line .rating-description{
    width: 100%;
    top: -32px;
    position: absolute;
    left: 100px;
    cursor: pointer;
    min-width: 180px;
    height: 50px;
    vertical-align: middle;
    padding-top: 25px;
}

#modal-rating{
    color:black;
}

#info #btn-add-list{

}

#poster{
    display: inline-block;
    position: relative;
}

#content-add-favorite{
    // display: none;
    position: absolute;
    top: 0px;
    background: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
    font-size: 14pt;
    color: white;
    text-align: center;
    vertical-align: middle;
    padding-top: 40%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0;
}

#content-add-favorite label{
    font-weight: 100;
    font-size: 20pt;
}

#content-add-favorite .glyphicon{
    font-size: 45pt;
}

#inFav{
    display: inline-block;
    position: absolute;
    padding: 10px;
    color:#A17700;
    top: 0px;
    font-size: 26pt;
    right: 0px;
}

#inFav .glyphicon{
    background: #eab92d;
    background: -moz-linear-gradient(top, #eab92d 0%, #c79810 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eab92d), color-stop(100%,#c79810));
    background: -webkit-linear-gradient(top, #eab92d 0%,#c79810 100%);
    background: -o-linear-gradient(top, #eab92d 0%,#c79810 100%);
    background: -ms-linear-gradient(top, #eab92d 0%,#c79810 100%);
    background: linear-gradient(to bottom, #eab92d 0%,#c79810 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eab92d', endColorstr='#c79810',GradientType=0 );
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    text-align: center;
    background: gold;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    text-align: center;
    border: 1px black solid;
}

div#details .attr, #details .value {
    text-align: left;
}

#title-production-mob{
    display:none;
}

#comments .title.col-md-12 {
    text-align: left;
}

#track-production,#track-production-not{
    font-size: 14pt;
}

#content-notified{
    border: 1px #CBCBCB solid;
    padding-bottom: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #ECECEC;
    margin-bottom:20px;
}

