/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09-oct-2015, 10:53:35
    Author     : ingen
*/

#menu{
    height: 100%;
    position: fixed;
    top: 80px;
    z-index: 1; 
    text-align: center;
}

body{
    background: white;
}

#avatar img {
    width: 100%;
    max-width: 200px;
    background: white;
}

#avatar{
    margin-top: 0px;
    text-align: center;
    width: 100%;
}


#menu .list-group {
    margin-top: 20px;
    color: black;
    text-align: left;
}

#navbar{
    position: fixed;
    width: 100%;
}


#main {
    height: 100%;
    margin-top: 80px;
    color: black;
}

#content-avatar {
    display: inline-block;
    position: relative;
    cursor: pointer;
}

#action-edit-avatar{
    cursor: pointer;
}


#action-edit-avatar #icon-edit-avatar{
    position: absolute;
    color: white;
    font-size: 20pt;
    left: 10px;
    bottom: 0px;
}

#action-edit-avatar.hover{
    height: 50px;
    position: absolute;
    bottom: 0px;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
}

.production-not-available {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
}

#action-edit-avatar label{
    font-size: 10pt;
    position: absolute;
    bottom: 0px;
    left: 40px;
    width: 100px;
    max-width: 100px;
    text-align: left;
    display: none;
    font-weight: 100;
}


.tooltip-error .tooltip-inner{
    background: red;
    font-size: 12pt;
}

.tooltip-error.bottom .tooltip-arrow{
    border-bottom-color: red!important;
}

.tooltip-error.left .tooltip-arrow{
    border-left-color: red!important;
}

.tooltip.left.tooltip-error{
    margin-left: -2px;
}

.tooltip.bottom.tooltip-error{
    margin-top: 1px;
}

#role-account{
    width: 100%;
    max-width: 200px;
    text-align: center;
    margin-top: 5px;
    display: inline-block;
    margin-top: 20px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-transform: uppercase;
}

#role-account.free{
    background: #cc0000;
    background: -moz-linear-gradient(top, #cc0000 0%, #cc0000 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cc0000), color-stop(100%,#cc0000));
    background: -webkit-linear-gradient(top, #cc0000 0%,#cc0000 100%);
    background: -o-linear-gradient(top, #cc0000 0%,#cc0000 100%);
    background: -ms-linear-gradient(top, #cc0000 0%,#cc0000 100%);
    background: linear-gradient(to bottom, #cc0000 0%,#cc0000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc0000', endColorstr='#cc0000',GradientType=0 );
    color: #F7D7D7;
}

#role-account.premium{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f1e767+0,feb645+100;Yellow+3D */
    background: #f1e767; /* Old browsers */
    background: -moz-linear-gradient(top,  #f1e767 0%, #feb645 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1e767), color-stop(100%,#feb645)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f1e767 0%,#feb645 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f1e767 0%,#feb645 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f1e767 0%,#feb645 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f1e767 0%,#feb645 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#feb645',GradientType=0 ); /* IE6-9 */
    color: #B19500;
}


#content-avatar img.img-rounded{
    border-radius: 0px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

#name-account{
    width: 100%;
    max-width: 200px;
    text-align: center;
    margin-top: 5px;
    display: inline-block;
}

#favorites .production{
    float: left;
    width: 200px;
    margin:10px 10px; 
    position: relative;
    display:none;
}

#favorites .production img{
    width: 200px;
    height: 297px;
}

#favorites .production .delete-fav{
    text-align: center;
    padding: 5px;
    background-image: -webkit-linear-gradient(top, #d9534f 0%, #c12e2a 100%);
    background-image: -o-linear-gradient(top, #d9534f 0%, #c12e2a 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#d9534f), to(#c12e2a));
    background-image: linear-gradient(to bottom, #d9534f 0%, #c12e2a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9534f', endColorstr='#ffc12e2a', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-repeat: repeat-x;
    border-color: #b92c28;
    color: white;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    cursor: pointer;
}

#favorites .production .delete-fav.disabled{
    opacity:0.7;    
}

#favorites .production .information{
    position: absolute;
    background: rgba(0, 0, 0, 0.74);
    color: white;
    top: 0px;
    width: 200px;
    height: 297px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
    opacity: 0;
}

#favorites .production .information .title{
    text-align: center;
    font-size: 14pt;
    margin-top: 5px;
    margin-bottom: 10px;
    border-bottom: 1px white solid;
    padding-bottom: 5px;
}

#favorites .production .information .description{
    padding: 10px;
    text-align: left;
}

#favorites .production .information .view-more{
    text-align: center;
    padding:10px;
}

#content-loader{
    margin-top: 20px;
}
#logo{
    width:250px;
    height:51px;
}


#img-thankyou{
    width:700px;
}

.panel-bandicot > .panel-heading,#menu, .date-activity{
    background: url(../../../images/backgrounds/pattern1.png);
    color: white;
}

.panel-bandicot{
    border-color: #111111;
}

#activity-dashboard .panel-bandicot > .panel-body{
    background: #F9F9F9;
}

#activity-dashboard .panel-bandicot .list-group-item{
    text-align: left;

}

div#last-playbacks {
    height: 245px;
    max-width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}

div#last-playbacks section{
    height: 224px;
}

.without-info{
    text-align: center;
    font-size:xx-large;
    border: 3px gainsboro dashed;
    color: gray;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.date-activity{
    padding: 10px;
    color: white;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: 10px;
    border: 1px black solid;
    border-right: 0px;
}

.description-activity{
    padding: 10px;
    margin-top: 10px;
    border: 1px black solid;
    border-left: 0px;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomright: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.pagination{
    font-size: 23pt;
}

div#time-premium-title {
    padding: 10px;
    font-size: 14pt;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px black solid;
}
div#time-premium-title:after{
    content: " Tu cuenta premium termina en:";
}

div#time-premium {
    border: 1px black solid;
    padding: 10px;
    font-size: 14pt;
    /* border: 1px black solid; */
    background: #cc0000;
    background: -moz-radial-gradient(center, ellipse cover, #cc0000 0%, #cc0000 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #cc0000 0%,#cc0000 100%);
    background: radial-gradient(ellipse at center, #cc0000 0%,#cc0000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc0000', endColorstr='#cc0000',GradientType=1 );
    color: white;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}