#navbar {
    background: #cc0000;
    background: -moz-linear-gradient(top, #cc0000 0%, #cc0000 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cc0000), color-stop(100%,#cc0000));
    background: -webkit-linear-gradient(top, #cc0000 0%,#cc0000 100%);
    background: -o-linear-gradient(top, #cc0000 0%,#cc0000 100%);
    background: -ms-linear-gradient(top, #cc0000 0%,#cc0000 100%);
    background: linear-gradient(to bottom, #cc0000 0%,#cc0000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc0000', endColorstr='#cc0000',GradientType=0 );
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    margin-bottom: 0px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 99;
}

#navbar .navbar-brand{
    padding: 8px;
}

body,html{
    height:100%;
}

#main,#menu,#content{
    padding:0px;
    margin:0px;
    height: 100%;
}
#content{
    padding:10px;
    padding-top: 60px;

}


#menu{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#45484d+0,000000+100;Black+3D+%231 */
    background: #45484d; /* Old browsers */
    background: -moz-linear-gradient(top,  #45484d 0%, #000000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #45484d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #45484d 0%,#000000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #45484d 0%,#000000 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #45484d 0%,#000000 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
    position: fixed;
    top: 52px;
    left: 0px;
    border-right: 1px black solid;
    z-index: 99;
}


#navbar a.dropdown-toggle{
    color:white;
}


#menu-list{
    -webkit-border-radius:0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    cursor:pointer;
}

#menu-list .submenu-item{
    padding-left: 50px;
    background: #F1F1F1;
}

#menu-list .submenu-item:hover{
    background: lightcoral;
    color:white;
}

#menu-list .list-group-item{
    -webkit-border-radius:0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}


#image-mask{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b9bec5+0,dee0e4+100 */
    background: #b9bec5; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #b9bec5 0%, #dee0e4 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#b9bec5), color-stop(100%,#dee0e4)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  #b9bec5 0%,#dee0e4 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  #b9bec5 0%,#dee0e4 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  #b9bec5 0%,#dee0e4 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  #b9bec5 0%,#dee0e4 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b9bec5', endColorstr='#dee0e4',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    padding: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}

#image-mask img{
    max-width: 214px;
    display:inline-block;
}

#content-cats{
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 280px;
}

.dealer-production .icon-dealer{
    max-height:30px;
}

.dealer-production .panel-heading{
        clear: both;
    height: 66px; 
}

.dealer-production{
    opacity: 0.2;
    cursor:pointer;
}

.dealer-production:hover{
    opacity: 1;
}

.dealer-production.active-deal{
    opacity: 1;
}
